@page "/"

<h1>Welcome in examinator!</h1>



<button class="btn-primary" @onclick="showLogin">Start examining yourself!</button>




@functions{
    string myLoginClass { get; set; }
    string mySkinClass { get; set; }

    string loginNPasswordClass { get; set; }
}


@code {



    protected override void OnInitialized()
    {
        myLoginClass = "";
        mySkinClass = "";
    }

    void showLogin()
    {
       
    }
}

