@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn-outline-primary" @onclick="showLogin">Login prompt</button>




@functions{
    string myLoginClass { get; set; }
    string mySkinClass { get; set; }

    string loginNPasswordClass { get; set; }
}


@code {



    protected override void OnInitialized()
    {
        myLoginClass = "";
        mySkinClass = "";
    }

    void showLogin()
    {
       
    }
}

